*{
    margin: 0;
    padding: 0;
}

hr{
    height: 1px;
    background-color: white;
    border: none;
}

h2, h3 {
    text-transform: uppercase;
}


#welcome-wrapper{
    margin-top: 40%!important;
    transform: translateY(-50%);

}

#start{
    height: 100vh;

}

.container{
    background-color: rgb(70, 67, 91)!important;
}

.card-body{
    background-color: rgb(38, 18, 75);
}